@font-face {
    font-family: "Rubic-font-bold";
    src: url(fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Rubic-font-normal";
    src: url(fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Rubic-font-light";
    src: url(fonts/Rubik-Light.ttf);
}

$backGroundColorRoot: #26414d;
$colorBlock: #94c5db;
$colorText: #000000;
$SecondaryColorText: #ffffff;
$ColorBorder: #757575;
$SecondaryColorBlock: #0d5fa2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $colorText;
    font-family: "Rubic-font-light";
}

body {
    height: 100%;
    width: 100%;
    background-color: $backGroundColorRoot;
}

#root {
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 5vh;
    background-color: blanchedalmond;
}

/* ---------- MAIN ------------*/

main {
    height: 90vh;
    width: 100%;

    .wrap_main {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/* --------- LIST ---------- */

.list_employees {
    height: 100%;
    width: 60%;
    position: relative;
    overflow: hidden;

    .manage_list {
        height: 50px;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button_create {
            height: 80%;
            width: 60%;
            font-size: 30px;
            margin-top: 20px;
            background-color: transparent;
            background-color: #94c5db;
            border-radius: 4px;
            border: none;
            box-shadow: 0 0 3px white;
        }
    }

    .wrap_list_empl {
        height: calc(100% - 65px);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .item_list {
            height: 220px;
            max-width: 100%;
            padding: 0 10px 10px 10px;
            flex-shrink: 0;
            box-sizing: border-box;
            margin: 10px 5px;
            background-color: $colorBlock;
            border-radius: 10px;
            box-shadow: 0 0 3px white;

            .info_manage_item {
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 22px;
                border-bottom: 2px $ColorBorder solid;

                .wrap_fio_position {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 0 20px;
                }

                .derar_item {
                    width: 40%;
                    align-self: center;
                    margin: 0 20px;
                }

                .wrap_manage_item {
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    * {
                        border: none;
                        background-color: transparent;
                        align-self: flex-end;
                        margin: 3px;
                        border: 2px black solid;
                        padding: 2px 10px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-family: "Rubic-font-light";
                    }
                }
            }

            .list_tables_empl {
                height: 50%;
                width: 100%;
                display: flex;
                position: relative;
                padding-top: 10px;

                .button_left,
                .button_right {
                    position: absolute;
                    height: 28px;
                    width: 28px;
                    top: 0;
                    bottom: 0;
                    z-index: 10;
                    border: none;
                    background-color: white;
                    border-radius: 50%;
                    margin: auto 5px;
                    text-align: center;
                    font-size: 22px;
                }

                .button_right {
                    right: 0;
                }

                .button_left {
                    left: 0;
                }

                .wrap_item_tables {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .table_item {
                    height: 100%;
                    width: 23%;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color: $SecondaryColorBlock;
                    border-radius: 6px;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    .date {
                        width: 100%;
                        height: 30%;
                        font-size: 18px;
                        padding: 3px 0 0 10px;
                        color: $SecondaryColorText;
                    }

                    .hours_from_table {
                        width: 100%;
                        height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 22px;
                        color: $SecondaryColorText;
                    }

                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border: none;
                        background-color: transparent;
                    }

                    .edit_table {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border: none;
                        background-color: transparent;
                    }

                    .delete_table {
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

/* --------- /LIST ------- */
/* --------- ADD FORM ------ */

.form_add_employee {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inputs_form {
        height: 500px;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $colorBlock;
        border-radius: 10px;
        box-shadow: 0 0 4px white;

        .name_block {
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 20%;
        }

        .wrap_inputs_form {
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 90%;
                align-self: center;
                margin: 15px 0;
                height: 30px;
                font-size: 18px;
                border: none;
                padding-left: 10px;
            }

            .manage_inputs_form {
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
            }

            .manage_inputs_form button {
                height: 100%;
                width: 30%;
                border: none;
                font-size: 16px;
                border: #000000 solid 2px;
                background-color: transparent;
                border-radius: 5px;
            }
        }
    }
}
/* --------- /ADD FOMR -------- */

/* -------- ADD MONTH -------- */

.month_add_form {
    height: 100%;
    width: 40%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    .inputs_month_data {
        height: 350px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .months_buttons {
            height: 70%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            * {
                height: 40px;
                margin: 10px;
                padding: 10px;
                font-size: 20px;
                display: flex;
                align-items: center;
            }

            *.colorBack {
                background-color: red;
            }
        }

        .manage_buttons {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: end;

            * {
                height: 40px;
                margin: 10px;
                padding: 10px;
            }
        }
    }
}

/* -------- /ADD MONTH -------- */

/* ------- CALENDAR -------- */

.wrap_calendar {
    height: 100%;
    width: 100%;
    background-color: aqua;

    .manage_calendar {
        height: 150px;
        width: 100%;
        background-color: antiquewhite;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .info_about_employee {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            justify-content: space-around;

            .wrap_name_ {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
                
                .fio_employee{
                    font-size: 20px;
                    margin-bottom: 5px;
                    font-weight: 700;
                }

                *{
                    overflow: hidden;
                }

            }

            .month_and_hours {
                display: flex;
                flex-direction: column;
                height: 40%;
            }
        }

        .enter_time {
            height: 100%;
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .start_time,
            .finish_time {
                width: 100%;
                display: flex;
                justify-content: space-between;

                * {
                    width: 45%;
                    border: none;
                    background-color: transparent;
                    border-bottom: 2px black solid;
                    margin: 5px 0;
                    font-size: 18px;
                    text-align: center;
                }

                ::-webkit-outer-spin-button,
                ::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }

            h4,
            h5 {
                align-self: center;
            }
        }

        .manage_buttons {
            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .type_work,
            .edit_calendar {
                width: 47%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                * {
                    width: 70%;
                    padding: 2px 0;
                    margin: 4px 0;
                }
                *.colorChange{
                    background-color: #94c5db;
                }

                h4 {
                    text-align: center;
                }
            }
        }
    }

    .calendar{
        max-height: calc(100% - 150px);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: scroll;

        &::-webkit-scrollbar{
            height: 0;
            width: 0;
        }

        .days_calendar{
            width: 100%;
            height: 30px;
             
            ul{
                height: 100%;
                display: flex;
                list-style: none;
                justify-content: space-between;
                

                *{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 14%;
                }
            }
        }

        .item_calendar_blank, .item_calendar{
            min-height: 200px;
            margin-bottom: 10px;
            width: 14%;
            background-color: #94c5db;
        }

        .item_calendar{
            padding: 5px;
            position: relative;

            .empty_day{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .hours_day{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .info_time{
                    margin: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .number_day{
                position: absolute;
                top: 0;
                right: 5px;
                font-size: 38px;
            }

            .save_data_about_day{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border: none;
                background-color: transparent;
            }
        }
    }
}

/* ------- /CALENDAR -------- */

/* --------- /MAIN -------- */

/* --------- FOOTER ---------- */

footer {
    height: 5vh;
    width: 100%;
    background-color: blueviolet;
}

/* ---------- /FOOTER --------- */
